* {
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, sans-serif;
}
 

.img-header img{
    width: 100%;
    display: block;
    height: auto;
}

main {
    background-image: url(/ressources/bryceforme1.webp);
    background-size: cover;
    text-align: center;
    padding: 25%;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 600px; 
    background: #FFFFFF;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.title-section h1 {
    color: #004b8d; 
    font-size: 24px;
}

.video-placeholder {
    background: #cdeef7; 
    text-align: center;
    padding: 20px;
}

.video-placeholder img {
    width: 50px; 
    height: auto;
}

.text-section p {
    color: #333; 
    line-height: 1.6;
}

.team-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #ffffff; 
    display: block;
    height: auto;
}


@media (max-width: 800px) {
    .team-member {
        flex-basis: 40%;
    }
}

@media (max-width: 600px) {
    .team-member {
        flex-basis: 80%;
    }
}