@font-face {
    font-family: 'abel';
    src: url('../ressources/font/Abel-Regular.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'amiko';
    src: url('../ressources/\font\Amiko-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'alatsi';
    src: url('../ressources/font\Alatsi-Regular.ttf');
}

@font-face {
    font-family: 'abel';
    src: url('../ressources/font/Abel-Regular.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'amiko';
    src: url('../ressources/font/Amiko-Regular.ttf') format('truetype');
    font-display: swap;
}


@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }

.img-header {
    width: 100%;
    display: block;
}

.img-header img {
    width: 100%; 
    height: auto; 
    display: block; 
}

.decouvrir {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4%;
    background-color: white; /* Fond blanc pour .decouvrir */
}

.decouvert-img {
    background-image: url('../ressources/bryceforme1.webp');
    background-size: cover; /* Utilisez cover pour s'assurer que l'image couvre la zone */
    background-repeat: no-repeat;
    width: 100%; /* Assurez-vous que .decouverte-img prend toute la largeur */
    height: 100%; /* et la hauteur de son parent .decouvrir */
}



main{
    background-image: url('../ressources/forme10.webp'); 
    background-size: cover; 
    background-repeat: no-repeat;
    min-height: 100vh; 
}

.footer-anim {
    animation-name: fadeInUp;
    animation-duration: 1s;
    animation-fill-mode: both; 
}

.footer-anim {
    animation-name: fadeInUp;
    animation-duration: 1s;
    animation-fill-mode: both; 
}
*{
    text-decoration: none;
}
footer {
    padding: 10px 0;
    background-color: #3B4040;
    color: #82FFE1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'alatsi', sans-serif;
    height: 150px;
}


.footer-nav {
    display: flex;
    justify-content: flex-start;
    padding: 3%;
    font-size: 17px;
}


.footer-nav a:hover {
    text-decoration: underline;
    color: aqua;
}

.copyright {
    display: flex;
    flex-grow: 1;
    text-align: center;
    font-size: 20px;
    padding-right: 8%;
    padding-left: 16%;
    flex: 1;
}

.moda{
    color: #82FFE1;
    text-decoration: none;
    display: flex;
    font-size: 15px;
    align-items: center;
}

.social-icons a:hover{
    filter: drop-shadow(2px 2px 4px white);
}

.footer-nav, .moda, .social-icons, .copyright {
    margin: 0 15px;  /* Adjust the margin as needed */
    display: inline-flex; /* Use inline-flex for in-line alignment */
    align-items: center; /* Align items vertically */
}

.footer-nav a, .social-icons a, .moda a {
    color: #82FFE1;
    text-decoration: none;
    padding: 0 10px; /* Adjust padding for each link */
}

.social-icons {
    justify-content: flex-end;
}


.animated-on-scroll {
    opacity: 0;
    transform: translateX(-300px);
    transition: all 0.4s ease-out;
    transition-delay: 0.2s;
  }
  
.animate{
    opacity: 1;
    transform: translateX(0);
}

.firs-div {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #EAFFFB; /* Mettez ici la couleur ou l'image de fond souhaitée */
    padding: 50px;
    padding-top: 5%;
}


.img-first {
    border-radius: 50%;
    overflow: hidden;
    width: 300px; 
    height: 300px;
    margin-right: 20px; 
    position: relative;
}

.img-first img {
    width: 100%;
    height: auto;
    display: block;
}


.text-content {
    flex: 1; /* prend l'espace restant */
}

.text-content h1 {
    margin-bottom: 10px; /* espace sous le titre */
    font-weight: bold;
    font-family: 'amiko';
    font-size: 40px;
}

.text-content p {
    margin: 0;
    font-size: 30px;
    font-family: 'abel';
}

.second-div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
    padding-top: 100px;
}

.third-div {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #EAFFFB;
}

.text-content-third{
    padding: 3%;
}

.four-div {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #EAFFFB;
}

.five-div {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #EAFFFB;
}

.text-content-four, .text-content-third, .text-content-five{
    padding: 3%;
}

section{
    padding-left: 2%;
    padding-right: 2%;
    padding: 1%;
    border-radius: 30px;
}
  .visible {
    animation: fadeIn 2s forwards;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
@media screen and (max-width: 900px){
    footer {
        flex-direction: column;
        align-items: center; 
        padding: 20px;
        height: auto; 
    }

    .footer-nav,
    .social-icons,
    .moda,
    .copyright {
        width: 100%; 
        justify-content: center;
        margin-left: 0; 
        margin-right: 0; 
        text-align: center; 
    }
    .copyright{
        padding-left: 10px;
    }
    .footer-nav a,
    .social-icons a {
        padding: 5px 10px; 
    }

    .social-icons {
        display: flex;
        justify-content: center; 
        flex-wrap: wrap; 
    }

    .social-icons a {
        padding-top: 10px;
        padding-left: 0; 
    }

    .moda {
        padding-top: 20px; 
        flex-direction: column; 
    }

    .copyright {
        padding-top: 20px; 
    }
}
