@font-face {
    font-family: 'abel';
    src: url('../ressources/font/Abel-Regular.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'amiko';
    src: url('../ressources/\font\Amiko-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'alatsi';
    src: url('../ressources/font\Alatsi-Regular.ttf');
}

@font-face {
    font-family: 'abel';
    src: url('../ressources/font/Abel-Regular.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'amiko';
    src: url('../ressources/font/Amiko-Regular.ttf') format('truetype');
    font-display: swap;
}


@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }

.img-header {
    width: 100%;
    display: block;
}

.img-header img {
    width: 100%; 
    height: auto; 
    display: block; 
}

.decouvrir {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4%;
    background-color: white; /* Fond blanc pour .decouvrir */
    background-image: url('../ressources/bryceforme1.webp');
    background-size: cover; /* Utilisez cover pour s'assurer que l'image couvre la zone */
    background-repeat: no-repeat;
    background-position: 0px -400px;
  
}



main{
    background-image: url('../ressources/forme10.webp'); 
    background-size: cover; 
    background-repeat: no-repeat;
    min-height: 100vh; 
}



.animated-on-scroll {
    opacity: 0;
    transform: translateX(-300px);
    transition: all 0.4s ease-out;
    transition-delay: 0.2s;
  }
  
.animate{
    opacity: 1;
    transform: translateX(0);
}

.firs-div {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #EAFFFB; /* Mettez ici la couleur ou l'image de fond souhaitée */
    padding: 50px;
    padding-top: 5%;
}


.img-first {
    width: 440px; 
    height: 440px;
    margin-right: 60px; 
    margin-left: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.img-first img {
    width: 100%;
    height: auto;
    display: block;
}

.text-content {
    flex: 1; /* prend l'espace restant */
}

.text-content h1 {
    margin-bottom: 10px; /* espace sous le titre */
    font-weight: bold;
    font-family: 'amiko';
    font-size: 40px;
}

.text-content p {
    margin: 0;
    font-size: 30px;
    font-family: 'abel';
}

.second-div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
    padding-top: 100px;
    border-radius: 10px;
}

.third-div {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #EAFFFB;
    border-radius: 10px;
}

.text-content-third{
    padding: 3%;
}

.four-div {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #EAFFFB;
    border-radius: 10px;
}

.five-div {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #EAFFFB;
    border-radius: 10px;
}

.text-content-four, .text-content-third, .text-content-five{
    padding: 3%;
}

section{
    margin-left: 40px;
    margin-right: 40px;
    padding: 1%;
}
  .visible {
    animation: fadeIn 2s forwards;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  @media screen and (max-width: 923px){
    .firs-div, .second-div, .third-div, .four-div, .five-div{
        flex-direction: column;
        text-align: center;
        padding: 20px;
        padding-top: 10px;
    }
    
    .firs-div p, .second-div p, .third-div p, .four-div p, .five-div p {
        font-size: 18px;
        font-family: 'abel';
        font-weight: 400;
    }
    
    .firs-div h1, .second-div h1, .third-div h1, .four-div h1, .five-div h1 {
        font-size: 20px;
        font-family: 'amiko';
        font-weight: 700;
        padding-bottom: 20px;
        padding-top: 40px;
    }
    

    .img-first{
        height: 171px;
        width: 171px;
    }

    .img-third, .img-four, .img-five {
        height: 258px; /* Set the height of the image container */
        width: 400px; /* Set the width of the image container */
        display: flex; /* Use flexbox to center the content */
        align-items: center; /* Center content vertically within the container */
        justify-content: center; /* Center content horizontally within the container */
        overflow: hidden; /* Ensures the content doesn't spill outside the container */
        border-radius: 10px; /* Optional: Adds rounded corners to the container */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Adds a subtle shadow to the container */
        background: url('/path/to/your/image.png') no-repeat center center; /* Replace with the path to your image */
        background-size: cover; /* Ensure the background image covers the entire container */
    }

    .img-third img, .img-four img, .img-five img {
        height: 100%;
        width: 100%;
        object-fit: cover; 
        object-position: center;
        border-radius: 10px;
    }

    .four-div {
        display: flex;
        flex-direction: column-reverse; /* Ceci inversera l'ordre des éléments flex enfants */
    }
    
    /* Assurez-vous que la largeur des enfants de .four-div est définie ou gérée correctement */
    .four-div .text-content, .four-div .img-four {
        flex: 1; /* Cela attribuera une largeur égale aux deux enfants, ajustez selon les besoins */
    }
  }