@font-face {
    font-family: "Amiko Regular";
    src: url("https://db.onlinewebfonts.com/t/151717dc27ffdcefe9d50d975c5e5827.eot");
    src: url("https://db.onlinewebfonts.com/t/151717dc27ffdcefe9d50d975c5e5827.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/151717dc27ffdcefe9d50d975c5e5827.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/151717dc27ffdcefe9d50d975c5e5827.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/151717dc27ffdcefe9d50d975c5e5827.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/151717dc27ffdcefe9d50d975c5e5827.svg#Amiko Regular")format("svg");
}

@font-face {
    font-family: "Abel";
    src: url("https://db.onlinewebfonts.com/t/75e8975966c040d18b299029193d3b1f.eot");
    src: url("https://db.onlinewebfonts.com/t/75e8975966c040d18b299029193d3b1f.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/75e8975966c040d18b299029193d3b1f.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/75e8975966c040d18b299029193d3b1f.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/75e8975966c040d18b299029193d3b1f.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/75e8975966c040d18b299029193d3b1f.svg#Abel")format("svg");
}

@font-face {
    font-family: "Poppins Thin";
    src: url("https://db.onlinewebfonts.com/t/21d1ef740083511bfa90bcc92c819293.eot");
    src: url("https://db.onlinewebfonts.com/t/21d1ef740083511bfa90bcc92c819293.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/21d1ef740083511bfa90bcc92c819293.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/21d1ef740083511bfa90bcc92c819293.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/21d1ef740083511bfa90bcc92c819293.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/21d1ef740083511bfa90bcc92c819293.svg#Poppins Thin")format("svg");
}

html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    background-image: url("../ressources/mobile_fond.webp");   
    background-repeat: no-repeat;
    background-size: cover;
    height:100px;
}

.btn_container {
    margin-top : 35%; 
    height: 200px;
    position: relative;
}

.btn_decouvrir{
    text-decoration: none;
    margin:0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 25%;
    background-color: #000000;
    color:#FFFFFF; 
    border-radius:5px ;
    font-family: Amiko Regular;
    border:none;
}

.intro_container{
    display:flex;
    size:0;
    background-color:#EAFFFB;
    margin-top : 10%; 
    margin-top : 10%; 
    margin-left: -1%;
    height: 1%;
    position: relative;
    text-align:center;
}

.texte_intro {
    text-align:left;
    font-family: Abel;
    color:#646363;
    font-size: 200%;
    margin-left:5%;
    margin-top:3%;
}

.titre_intro {
    font-family: Abel;
    color:#3B4040;
    font-size:40px;
}

.logo{
    height:57.31px;
    margin-bottom: -0.25%;
}

.a_propos_btn{
    text-decoration: none;
    color:#646363;
    margin-left:-5px;
    font-family: "Poppins thin";
    font-size:125%;
    display:block;
}

.img_trailer{
    width: 433px;
    height: 440px;
    margin-top: 15%;
    margin-bottom: 3%;
    margin-left: 3%;
}

.img_trailer:hover{
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .intro_container {
        display:block;
    }
    .texte_intro{
        text-align:center;
    }
}

/*TRAILER*/
.trailer{
    position: fixed;
    top: -17.20%;
    left: 50%;
    transform: translate(-50%,50%) scale(0);
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 100000;
}

.trailer.active{
    transform: translate(-50%,50%) scale(1);
}


@media (max-width:991px) {
    .trailer video{
        max-width:90%;
    }
}
/*ANIMATION LIGNE*/

.line { 
    width: 1091px; 
    max-width:90%;
    height: 614px; 
    position: fixed;    
    top: 50%; 
    left: 50%; 
    display: flex;
    transform: translate(-50%, -50%); 
    z-index:-1000;
} 

.line.active::before { 
    content: ""; 
    position: fixed;
    display: flex; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
    background: black; 
    animation: slidein, openin;
    animation-duration: 1s, 2s; 
    animation-delay: 0s, 1s;
    z-index: 1000;
} 
/*#3B4040*/
@keyframes slidein {
    from {width:0px; height:3px; top:50%}
    to   {width:100%;height:3px; top:50%}
}

@keyframes openin {
    from { width:100%;height:3px; top:50%}
    to   { transform: scaleY(1);}
}

