/*POLICES D'ECRITURE*/
@font-face {
    font-family: "Amiko Regular";
    src: url("https://db.onlinewebfonts.com/t/151717dc27ffdcefe9d50d975c5e5827.eot");
    src: url("https://db.onlinewebfonts.com/t/151717dc27ffdcefe9d50d975c5e5827.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/151717dc27ffdcefe9d50d975c5e5827.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/151717dc27ffdcefe9d50d975c5e5827.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/151717dc27ffdcefe9d50d975c5e5827.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/151717dc27ffdcefe9d50d975c5e5827.svg#Amiko Regular")format("svg");
}

@font-face {
    font-family: "Abel";
    src: url("https://db.onlinewebfonts.com/t/75e8975966c040d18b299029193d3b1f.eot");
    src: url("https://db.onlinewebfonts.com/t/75e8975966c040d18b299029193d3b1f.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/75e8975966c040d18b299029193d3b1f.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/75e8975966c040d18b299029193d3b1f.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/75e8975966c040d18b299029193d3b1f.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/75e8975966c040d18b299029193d3b1f.svg#Abel")format("svg");
}

@font-face {
    font-family: "Poppins Thin";
    src: url("https://db.onlinewebfonts.com/t/21d1ef740083511bfa90bcc92c819293.eot");
    src: url("https://db.onlinewebfonts.com/t/21d1ef740083511bfa90bcc92c819293.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/21d1ef740083511bfa90bcc92c819293.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/21d1ef740083511bfa90bcc92c819293.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/21d1ef740083511bfa90bcc92c819293.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/21d1ef740083511bfa90bcc92c819293.svg#Poppins Thin")format("svg");
}

@font-face {
    font-family: "Amiko Bold";
    src: url("https://db.onlinewebfonts.com/t/cd3710e0f5f9d9f61502468e8d71a5f5.eot");
    src: url("https://db.onlinewebfonts.com/t/cd3710e0f5f9d9f61502468e8d71a5f5.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/cd3710e0f5f9d9f61502468e8d71a5f5.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/cd3710e0f5f9d9f61502468e8d71a5f5.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/cd3710e0f5f9d9f61502468e8d71a5f5.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/cd3710e0f5f9d9f61502468e8d71a5f5.svg#Amiko Bold")format("svg");
}

html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    background-image: url("../ressources/mobile_fond.webp");   
    background-repeat: no-repeat;
    background-size: cover;
    height:100px;
}

/*BOUTON DECOUVRIR*/
.btn_container {
    margin-top : 35%; 
    height: 200px;
    position: relative;
}

.btn_decouvrir{
    text-decoration: none;
    margin:0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 25%;
    background-color: #000000;
    color:#FFFFFF; 
    border-radius:5px ;
    font-family: Amiko Regular;
    border:none;
}

/*BANDEAU INTRO*/
.intro_container{
    padding-top:5%;
    padding-bottom: 5%;
    display:flex;
    size:0;
    background-color:#EAFFFB;
    margin-top : 17.5%; 
    height: 1%;
    margin-left: -1%;
    margin-right: -0.4%;
    position: relative;
    text-align:center;
}

.text_intro {
    text-align:left;
    font-family: Abel;
    color:#646363;
    font-size: 200%;
    margin-left:5%;
}

.title_intro {
    font-family: Abel;
    color:#3B4040;
    font-size:40px;
}

.logo{
    height:57.31px;
    margin-bottom: -0.25%;
}

.about_btn{
    text-decoration: none;
    color:#646363;
    margin-left:-5px;
    font-family: "Poppins thin";
    font-size:125%;
    display:block;
}

/*BOUTON ACTIVATION TRAILER*/
.img_trailer{
    width: 433px;
    height: 440px;
    margin-left: 3%;
}

.img_trailer:hover{
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .intro_container {
        display:block;
    }
    .texte_intro{
        text-align:center;
    }
}

/*TRAILER*/
.trailer{
    position: fixed;
    top: -17.2%;
    left: 50%;
    transform: translate(-50%,50%) scale(0);
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 100000;
}

.trailer.active{
    transform: translate(-50%,50%) scale(1);
}


@media (max-width:991px) {
    .trailer video{
        max-width:90%;
    }
}
/*ANIMATION LIGNE*/

.line { 
    width: 591px; 
    max-width:90%;
    height: 614px; 
    position: fixed;    
    top: 50%; 
    left: 50%; 
    display: flex;
    transform: translate(-50%, -50%); 
    z-index:-1000;
} 

.line.active::before { 
    content: ""; 
    position: fixed;
    display: flex; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
    background: black; 
    animation: slidein, openin;
    animation-duration: 1s, 2s; 
    animation-delay: 0s, 1s;
    z-index: 1000;
} 

@keyframes slidein {
    from {width:0px; height:3px; top:50%}
    to   {width:100%;height:3px; top:50%}
}

@keyframes openin {
    from { width:100%;height:3px; top:50%}
    to   { transform: scaleY(1);}
}

/*ESPACES*/
.space{
    height:200px;
}

/*CSS EXPERIENCES*/

/*EXP INTRO*/

.title{
    font-family: Amiko Bold;
    font-weight:bold;
    font-size:30px;
    color:#3B4040;
    margin-left:10%;
}

.txt_intro{
    font-family: Abel;
    font-size:25px;
    color:#646363;
    margin-left:10%;  
}

/*EXP IMAGES*/
.img_exp{
    margin: auto;
    width: 80%;
    height:622px;
    position: relative;
    
}

.img_behind{
    width:100%;
    height:622px;
    position: absolute;
    border-radius: 15px 15px 0px 0px;
}

.infos{
    width:200px;
    height:75px;
    display: flex;
    border-radius: 15px;
    backdrop-filter: blur(4px);
    float:right;
    margin-right: -100px;
    margin-top: 475px;
    padding-top: 10px;
    justify-content: space-evenly;
}

.time{
    text-align: center;
    width: 75px;
    height:75px;
    position:relative;
}

.player_amount{
    text-align: center;
    width: 75px;
    height:75px;
    position:relative;
}

.likes{
    text-align:center;
    width:100px;
    height:100px;
    position: relative;
    float:right;
    margin-top: 25px;
    margin-right: 20px;
}

.subtxt{
    font-family: Abel;
    color:#ffffff;
    font-size:80%;
}

/*TXT EXPLICATIF EXPERIENCES*/
.about_exp{
    background-color: #e6e6ee;
    height:0%;
    width:77%;
    align-self: center;
    margin: auto;
    border-radius: 0px 0px 15px 15px;
}

.about_title{
    display: flex;
    align-items: center;
    height:0%;
    margin-bottom: -30px;
    margin-left: 30px;
    margin-top: 0px;
}

.about_txt{
    font-family: Abel;
    color:#646363;
    font-size: 20px;
    margin-left: 30px;
}

.txt_about_title{
    font-family: Amiko bold;
    font-size:30px;
    height:37px;
    color:#3B4040;
}

.break_line{
    height:50px;
    width:1px;
    background:#3B4040;
    margin-right: 25px;
    margin-left: 25px;
}

.room_title{
    font-family: Poppins Thin;
    color:#3B4040;
    font-size: 40px;
}

.book_btn{
    text-align: center;
    margin-top: 55px;
}