.login-pan {
    display: flex;
    position: relative;

    border: solid black;
    border-radius: 10px;

    text-align: center;

    transition: 1s;
}

.login-content {
    text-align: right;
    transition: 0s;
}

.login-input {
    display: inline-block;
    width: 0px;
    height: 0px;
    transition: 1.1s;
}